
{{> head }}
{{> menu }}

    
   <div class="row">

       <div class="col-8">
           <h1> Test de about</h1>
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis natus id veritatis consectetur aliquam nobis assumenda itaque modi? At voluptas eum molestias iste? Similique numquam dolores cum beatae quisquam.
           </p>
       </div>

       <div class="col-4">
           <img src="/assest/img/imagen.jpg" class="img-thumbnail" >
       </div>

   </div>

{{> footer }}